<div 
  (click)="discard()"
  class="bg-gray-600 bg-opacity-40 rounded-lg shadow-lg p-6 mx-auto my-4 absolute inset-0 w-full z-50">

    <div 
    (click)="onModalContentClick($event)"
    class="bg-white rounded-lg shadow-lg p-6 mx-auto my-4 w-1/2">

      <div> 
        <ng-content></ng-content>   
      </div>   
      <!-- <div class="flex items-center justify-center mt-4 space-x-3">
        <button 
        (click)="onSave()"
        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-150 ease-in-out hover:bg-blue-600 bg-blue-700 rounded text-white px-8 py-2 text-sm">
        Submit</button>
        <button 
        (click)="discard()"
        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 ml-3 bg-blue-100 transition duration-150 text-blue-700 ease-in-out hover:border-blue-300 hover:bg-blue-200 border rounded px-8 py-2 text-sm" >
        Cancel</button>
      </div> -->

    </div>
  
</div>